*
{
	padding : 0;
	margin : 0;
	position:relative;
}

body
{
	color : black;
	font-size : 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
	-webkit-appearance: none;
	margin:0;
}

label
{
	text-transform:capitalize;
	align-self:center;
}
label:after
{
	content:":";
}
.containerWidget
{
	display:inline-block;
	background:black;
}
.contextmenu
{
	position:fixed;
	z-index:10000;
	padding:0.5em 0em;
	border-radius:0.5em;
	background:white;
	overflow:hidden;
}
.contextmenu>hr
{
	margin:0.5em 0em;
}
.contextmenu>h4
{
	text-transform:uppercase;
	text-align:center;
	margin-bottom:0em 0.5em 0.5em 0.5em;
}
.contextmenu > a
{
	padding: 0em 0.5em;
	box-sizing: content-box;
	display:block;
}
.contextmenu > a:hover
{
	background:blue;
	color:white;
}
.intercept
{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:9000;
	background:rgba(50, 120, 150, 0.2);
}
.resize
{
	position:absolute;
	bottom:0;
	right:0;
	z-index:10000;
}
.relocate
{
	position:absolute;
	bottom:0;
	right:0;
	z-index:10000;
}
/*this should always be overriden*/
/*this should always be overriden*/
.sliderWidget
{
	position : relative;
	display : inline-block;
	min-height : 2em;
	min-width : 2em;
	background-color : rgb(26,26,26);
	border-radius : 0.5em;
	flex:1 1 100%;
	margin:0.25em;
}

.sliderWidget.invertX-true
{
	-webkit-transform: scaleX(-1);
}
.sliderWidget.invertY-true
{
	-webkit-transform: scaleY(-1);
}
.sliderWidget.invertY-true.invertX-true
{
	-webkit-transform: scale(-1);
}
.sliderWidget.invertX-true > .overlay
{
	-webkit-transform: scaleX(-1);
}
.sliderWidget.invertY-true>.overlay
{
	-webkit-transform: scaleY(-1);
}
.sliderWidget.invertX-true.invertY-true>.overlay
{
	-webkit-transform:scale(-1);
}
.sliderWidget.orientation-horizontal.type-hue
{
	background : -webkit-linear-gradient(left, red, yellow, green, cyan, blue, magenta, red);
}
.sliderWidget.orientation-vertical.type-hue
{
	background: -webkit-linear-gradient(top, red, yellow, green, cyan, blue, magenta, red);
}
.sliderWidget.orientation-horizontal.type-red
{
	background : -webkit-linear-gradient(left, black, red);
}
.sliderWidget.orientation-horizontal.type-green
{
	background : -webkit-linear-gradient(left, black, green);
}
.sliderWidget.orientation-horizontal.type-blue
{
	background : -webkit-linear-gradient(left, black, blue);
}
.sliderWidget.orientation-vertical.type-red
{
	background : -webkit-linear-gradient(top, black, red);
}
.sliderWidget.orientation-vertical.type-green
{
	background : -webkit-linear-gradient(top, black, green);
}
.sliderWidget.orientation-vertical.type-blue
{
	background : -webkit-linear-gradient(top, black, blue);
}
.sliderWidget.type-lightness
{
	background:grey;
}
.sliderWidget.orientation-vertical.type-lightness:after
{
	background:-webkit-linear-gradient(top, rgba(0,0,0,1),rgba(128,128,128,0), rgba(255,255,255,1));
}
.sliderWidget.orientation-horizontal.type-lightness:after
{
	background:-webkit-linear-gradient(left, rgba(0,0,0,1),rgba(128,128,128,0), rgba(255,255,255,1));
}
.sliderWidget.type-saturation
{
	background:red;
}
.sliderWidget.orientation-vertical.type-saturation:after
{
	background:-webkit-linear-gradient(top, rgba(128,128,128,1), rgba(128,128,128,0));
}
.sliderWidget.orientation-horizontal.type-saturation:after
{
	background:-webkit-linear-gradient(left, rgba(128,128,128,1), rgba(128,128,128,0));
}
.sliderWidget.type-value
{
	background:white;
}
.sliderWidget.orientation-vertical.type-value:after
{
	background:-webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0));
}
.sliderWidget.orientation-horizontal.type-value:after
{
	background:-webkit-linear-gradient(left, rgba(0,0,0,1), rgba(0,0,0,0));
}
.sliderWidget.type-saturation-value
{
	background:red;
}
.sliderWidget.type-saturation-value:after
{
	background:-webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0)),-webkit-linear-gradient(left,rgba(255,255,255,1),rgba(255,255,255,0));
}
.sliderWidget.type-value-saturation
{
	background:-webkit-linear-gradient(top, white, red);
}
.sliderWidget.type-value-saturation:after
{
	background:-webkit-linear-gradient(left, rgba(0,0,0,1), rgba(0,0,0,0));
}
.sliderWidget.type-red-green
{
	background:-webkit-linear-gradient(135deg,rgba(255,255,0,1),rgba(128,128,0,0),rgba(0,0,0,1)),
				-webkit-linear-gradient(45deg,rgb(0,255,0),rgb(128,128,0),rgb(255,0,0)),black
}
.sliderWidget.type-green-red
{
	background:-webkit-linear-gradient(135deg,rgba(255,255,0,1),rgba(128,128,0,0),rgba(0,0,0,1)),
				-webkit-linear-gradient(45deg,rgb(255,0,0),rgb(128,128,0),rgb(0,255,0)),black
}
.sliderWidget.type-red-blue
{
	background:-webkit-linear-gradient(135deg,rgba(255,0,255,1),rgba(128,0,128,0),rgba(0,0,0,1)),
				-webkit-linear-gradient(45deg,rgb(0,0,255),rgb(128,0,128),rgb(255,0,0)),black
}
.sliderWidget.type-blue-red
{
	background:-webkit-linear-gradient(135deg,rgba(255,0,255,1),rgba(128,0,128,0),rgba(0,0,0,1)),
				-webkit-linear-gradient(45deg,rgb(255,0,0),rgb(128,0,128),rgb(0,0,255)),black
}
.sliderWidget.type-green-blue
{
	background:-webkit-linear-gradient(135deg,rgba(0,255,255,1),rgba(0,128,128,0),rgba(0,0,0,1)),
				-webkit-linear-gradient(45deg,rgb(0,0,255),rgb(0,128,128),rgb(0,255,0)),black
}
.sliderWidget.type-blue-green
{
	background:-webkit-linear-gradient(135deg,rgba(0,255,255,1),rgba(0,128,128,0),rgba(0,0,0,1)),
				-webkit-linear-gradient(45deg,rgb(0,255,0),rgb(0,128,128),rgb(0,0,255)),black
}
.sliderWidget.type-hue-saturation
{
	background:-webkit-linear-gradient(left, red, yellow, green, cyan, blue, magenta, red);
}
.sliderWidget.type-hue-saturation:after
{
	background:-webkit-linear-gradient(top, rgba(128,128,128,1), rgba(128,128,128,0));
}
.sliderWidget.type-saturation-hue
{
	background:-webkit-linear-gradient(top, red, yellow, green, cyan, blue, magenta, red);
}
.sliderWidget.type-saturation-hue:after
{
	background:-webkit-linear-gradient(left, rgba(128,128,128,1), rgba(128,128,128,0));
}
.sliderWidget.type-hue-value
{
	background:-webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,1)),-webkit-linear-gradient(left, red, yellow, green, cyan, blue, magenta, red);
}
.sliderWidget.type-value-hue
{
	background:-webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,1)),-webkit-linear-gradient(top, red, yellow, green, cyan, blue, magenta, red);
}
.sliderWidget.type-hue-lightness
{
	background:-webkit-linear-gradient(top, rgba(0,0,0,1), rgba(128,128,128,0),rgba(255,255,255,1)),-webkit-linear-gradient(left, red, yellow, green, cyan, blue, magenta, red);
}
.sliderWidget.type-lightness-hue
{
	 background:-webkit-linear-gradient(left, rgba(0,0,0,1), rgba(128,128,128,0),rgba(255,255,255,1)),-webkit-linear-gradient(top, red, yellow, green, cyan, blue, magenta, red);
}
.sliderWidget.type-saturation-lightness
{
	background:red;
}
.sliderWidget.type-saturation-lightness:after
{
	background:-webkit-linear-gradient(top,rgba(0,0,0,1),rgba(128,128,128,0),rgba(255,255,255,1)),-webkit-linear-gradient(left,rgba(128,128,128,1),rgba(128,128,128,0));
}	
.sliderWidget.type-lightness-saturation
{
	background:red;
}
.sliderWidget.type-lightness-saturation:after
{
	background:-webkit-linear-gradient(left,rgba(0,0,0,1),rgba(128,128,128,0),rgba(255,255,255,1)),-webkit-linear-gradient(top,rgba(128,128,128,1),rgba(128,128,128,0));
}
.sliderWidget:after
{
	content:"";
	position:absolute;
	top:0; left:0; right: 0; bottom: 0;
	border-radius:0.5em;
}
.ioSliderWidget
{
	display:flex;
}
.multiSliderWidget
{
	display:flex;
}
.colorPickerWidget
{
	display:inline-flex !important;
	background:rgb(100,100,100);
	border-radius:0.5em;
	padding: 0.5em;
}
.colorPickerWidget.orientation-vertical > .rgbWidget,
.colorPickerWidget.orientation-vertical > .hsvWidget,
.colorPickerWidget.orientation-vertical > .hslWidget
{
	width:auto !important;
	min-width:initial !important;
	max-width:initial !important;
}
.colorPickerWidget.orientation-horizontal > .rgbWidget,
.colorPickerWidget.orientation-horizontal > .hsvWidget,
.colorPickerWidget.orientation-horizontal > .hslWidget
{
	height: auto !important;
	min-height:initial !important;
	max-height: initial !important;
}
.rgbWidget>.widget.orientation-horizontal,
.hsvWidget>.widget.orientation-horizontal,
.hslWidget>.widget.orientation-horizontal
{
	max-height:2em;
}
.orientation-horizontal
{
	flex-direction:row;
	display:flex;
	flex: 1 1 auto;
}
.orientation-vertical
{
	flex-direction:column;
	display:flex;
	flex: 1 1 auto;
}
.orientation-vertical, .orientation-horizontal
{
	justify-content:space-between;
}
.orientation-vertical>*,.orientation-horizontal>*
{
	order:1;
}
.ioSliderWidget.orientation-pane
{
	flex-wrap:wrap;
	flex:1 1 auto;
}

.sliderWidget.orientation-vertical
{
	height:auto;
	max-width:2em;
}
.sliderWidget.orientation-horizontal
{
	max-height:2em;
}
.ioSliderWidget.orientation-vertical
{
	display:inline-flex;
	flex-direction:column;
	flex:1 1 auto;
	max-width:4em;
}

.sliderIndicator
{
	position : absolute;
	height : 2.5em;
	width : 2.5em;
	border-radius : 0.75em;
	border: 2px solid rgb(75,75,75);
	box-shadow: 0px 0px 1px 2px rgb(250,250,250) inset;
	z-index:1000;
}
.sliderWidget.orientation-horizontal >.sliderIndicator
{
	top : -0.4em;
}
.sliderWidget.orientation-vertical>.sliderIndicator
{
	left : -0.4em;
}

.swatchWidget
{
	width:5em;
	height:5em;
	border-radius:0.5em;
	/*background:black;*/
	margin:0.2em;
}

input.ioWidget , input.ioWidget:focus
{
	border-radius: 0.5em;
	border: 1px solid black;
	outline-width:0;
	box-sizing: content-box;
	min-height:2em;
	text-align:center;
	flex:1 1;
	max-height:2em;
	margin:0.2em;
}