*
{
	padding : 0;
	margin : 0;
}

body
{
	background : white;
	color : black;
	font-size : 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
	-webkit-appearance: none;
	margin:0;
}

/*this should always be overriden*/
/*this should always be overriden*/
.sliderWidget
{
	position : relative;
	display : inline-block;
	min-height : 2em;
	min-width : 2em;
	background-color : rgb(26,26,26);
	border-radius : 0.5em;
	flex:1 1 100%;
	margin:0.25em;
}

.ioSliderWidget
{
	display:flex;
}
.multiSliderWidget
{
	display:flex;
}
.multiSliderWidghet.orientation-horizontal
{
	flex-direction:row;
}
.multiSliderWidget.orientation-vertical
{
	flex-direction:column;
}
.ioSliderWidget.orientation-pane
{
	flex-wrap:wrap;
	flex:1 1 auto;
}

.sliderWidget.orientation-vertical
{
	height:auto;
	max-width:2em;
}

.ioSliderWidget.orientation-vertical
{
	display:inline-flex;
	flex-direction:column;
	flex:1 1 auto;
	max-width:4em;
}
.sliderWidget.orientation-horizontal.type-hue
{
	background : -webkit-linear-gradient(left, red, yellow, green, cyan, blue, magenta, red);
}
.sliderWidget.orientation-vertical.type-hue
{
	background: -webkit-linear-gradient(top, red, yellow, green, cyan, blue, magenta, red);
}
.sliderWidget.orientation-horizontal.type-red
{
	background : -webkit-linear-gradient(left, black, red);
}
.sliderWidget.orientation-horizontal.type-green
{
	background : -webkit-linear-gradient(left, black, green);
}
.sliderWidget.orientation-horizontal.type-blue
{
	background : -webkit-linear-gradient(left, black, blue);
}
.sliderWidget.orientation-pane.type-satval
{
	background: -webkit-linear-gradient(left, white, red);
}
.sliderWidget.orientation-pane.type-satval:after
{
	content:"";
	background:-webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1));
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	border-radius:0.5em;
}
.sliderIndicator
{
	position : absolute;
	height : 2.5em;
	width : 2.5em;
	border-radius : 0.75em;
	/*background-color : rgb(75,75,75);*/
	border: 2px solid rgb(75,75,75);
	box-shadow: 0px 0px 1px 2px rgb(250,250,250) inset;
	z-index:1000;
}
.sliderIndicator.orientation-horizontal
{
	top : -0.4em;
}
.sliderIndicator.orientation-vertical
{
	left : -0.4em;
}

.swatchWidget
{
	width:5em;
	height:5em;
	border-radius:0.5em;
}

.hsvWidget
{
	display:flex;
	flex-direction:row;
}

input.ioWidget , input.ioWidget:focus
{
	border-radius: 0.5em;
	border: 1px solid black;
	outline-width:0;
	box-sizing: content-box;
	min-height:2em;
	text-align:center;
	flex:1 1;
	max-height:2em;
	margin:0.2em;
}