*
{
	padding : 0;
	margin : 0;
}

body
{
	background : white;
	color : black;
	font-size : 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
	-webkit-appearance: none;
	margin:0;
}

/*this should always be overriden*/
/*this should always be overriden*/
.sliderWidget
{
	position : relative;
	display : inline-block;
	height : 2em;
	width : 2em;
	background-color : rgb(26,26,26);
	border-radius : 0.5em;
}

.sliderWidget.orientation-horizontal
{
	width : 100%;
	margin: 0.2em 0em;
}
.ioSliderWidget
{
	overflow:hidden;
}
.ioSliderWidget > .sliderWidget.orientation-horizontal.viewMode-both
{
	width: calc(100% - 6em);
	float:left;
}
.ioSliderWidget>.sliderWidget.viewMode-output
{
	display:none;
}
 .ioSliderWidget>.ioWidget.viewMode-slider
 {
	display:none;
}
.ioSliderWidget>.sliderWidget.viewMode-output.sliderIndicator
{
	display:none;
}
.ioSliderWidget> .ioWidget.viewMode-both
{
	float:right;
}

.sliderWidget.orientation-horizontal.type-hue
{
	background : -webkit-linear-gradient(left, red, yellow, green, cyan, blue, magenta, red);
}
.sliderWidget.orientation-horizontal.type-red
{
	background : -webkit-linear-gradient(left, black, red);
}
.sliderWidget.orientation-horizontal.type-green
{
	background : -webkit-linear-gradient(left, black, green);
}
.sliderWidget.orientation-horizontal.type-blue
{
	background : -webkit-linear-gradient(left, black, blue);
}

.sliderWidget.orientation-pane
{
	height : 100%;
	width : 100%;
}

.sliderWidget.orientation-vertical
{
	height : 100%;
}

.sliderIndicator
{
	position : absolute;
	height : 2.5em;
	width : 2.5em;
	background-color : rgb(75,75,75);
	border-radius : 0.75em;
}
.sliderIndicator.orientation-horizontal
{
	top : -0.25em;
}
.sliderIndicator.orientation-vertical
{
	left : -0.25em;
}

.ioWidget
{
	margin: 0.2em 0.5em;
	display:inline-block;
}
.ioWidget > input, .ioWidget > input:focus
{
	height: 2em;
	padding: 0em 1em;
	border-radius: 0.5em;
	border: 1px solid black;
	outline-width:0;
	box-sizing: content-box;
	transition: width 200ms, opacity 200ms;
}